html, body {
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

#root {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #660180, #7e039f);
}
