$titlefont: 'Carter One', cursive;
$descfont: 'Bungee', cursive;
$basicfont: 'Ubuntu', sans-serif;

.landing {
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.portalpage {
	width: 100vw;
	height: 90vh;
	display: flex;
}

.portaltitle {
	width: 60vw;
	height: 90vh;
}

.portalimage {
	width: 40vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f2e1f6;
	font-size: 9vw;
	font-family: $titlefont;
}

.desc {
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f2e1f6;
	font-size: 1vw;
	font-family: $descfont;
}

.downloadwrapper {
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clientdownload {
	width: 20vw;
	height: 7vh;
	border: 2px solid #d566f3;
	border-radius: 6px;
	background: #d566f3;
	font-size: 2vw;
	font-family: 'Ubuntu', sans-serif;
}

.clientdownload:hover {
	border: 3px solid #d566f3;
	border-radius: 7px;
	background: #6D0289;
	cursor: pointer;
	color: #d566f3;
}
