.userinterface {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.modeselector {
	width: 5vw;
	height: 100vw;
	background: orange;
}

.displayedpage {
	width: 95vw;
	height: 100vh;
	background: pink;
}
