.container {
	width: 95vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	border-radius: 6px;
}

#videoplayer {
	width: 60vw;
	height: 75vh;
	background: black;
	border-radius: 4px;
	overflow: hidden;
}
