.container {
	width: 65vw;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	border-radius: 6px;
}

#videoplayer {
	width: 60vw;
	height: 75vh;
	background: black;
}
